@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
    background-image: url('https://cdn.sanity.io/images/9yc4oudn/production/15ed08f68ac24b2418aae2f5d83b4140ff5865fb-480x240.jpg');
    animation-name: moveBackground;
    animation-duration: 8s; /* Adjust the duration based on the number of keyframes */
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    transition: ease 0.8s;
}

.options-sidebar {
    position: absolute;
    z-index: 1000;
    margin: 1.5rem;
    max-height: calc(100vh - 3rem);
}

@keyframes moveBackground {
    0% {
      background-position: 0 0;
    }
    25% {
      background-position: 10px -10px;
    }
    50% {
      background-position: 20px 0;
    }
    75% {
      background-position: 30px -10px;
    }
    100% {
      background-position: 40px 0;
    }
  }